# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Kubernetes
kubeconfig
*.kube

# Helm
helm/charts/
helm/tmp/

# Node / Frontend
node_modules/
dist/
build/

# Docker
*.log

# typiquement Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log
venv/
.env
*.pytest_cache/
.coverage
minikube-linux-amd64
